@media only screen and (max-width: 48em) {
    .project {
        &_content {
            padding: 1rem;
        }

        &_info p {
            font-size: 15px;
        }

        &_address {
            -webkit-line-clamp: 2;
            line-clamp: 2;
        }
    }
}
